{% extends 'base.html' %}

{% block title %}Sobre - Elmínio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">Sobre Nós</h1>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Nossa História</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
                </p>
                <p class="card-text">
                    Mauris sollicitudin fermentum libero. Praesent nonummy mi in odio. Nunc interdum lacus sit amet orci. Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Morbi mollis tellus ac sapien.
                </p>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Nossa Missão</h2>
                <p class="card-text">
                    Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis.
                </p>
            </div>
        </div>
                
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Nossos Valores</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Inovação constante</li>
                    <li class="list-group-item">Compromisso com a qualidade</li>
                    <li class="list-group-item">Foco no cliente</li>
                    <li class="list-group-item">Trabalho em equipe</li>
                    <li class="list-group-item">Responsabilidade social</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}